@charset "UTF-8";
/* CSS Document */

html {font-size: 100%;} /*16px*/

body {
  background-color: #CEF2E3;
  color: #000;
  margin: 0;
  padding-left: 50px;
  line-height: 1.75;
}
h1 {

  font-size: 5em;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
}

h2 {font-size: 3em;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";

}

h4 {font-size: 1.5em;
margin-top: 0;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";

}

dt {
	font-size: 2em;
	font-weight: bold;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
}
p{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
li{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
dd{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}